go 1.23

use (
	./backend/analytics-service
	./backend/booking-service
	./backend/gen/go/analytics
	./backend/gen/go/booking
	./backend/gen/go/common
	./backend/gen/go/inventory
	./backend/gen/go/notification
	./backend/gen/go/identity
	./backend/gen/go/services
	./backend/inventory-service
	./backend/notification-service
	./backend/identity-service
	./backend/services-service
)
